@import url(http://fonts.googleapis.com/css?family=Glegoo);

/*Fonts for quote generatir*/
@import 'https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Anton|Dancing+Script|Dosis|Josefin+Sans|Lobster|Lobster+Two|Modak|Muli|Open+Sans+Condensed:300|Oswald|Poiret+One|Quicksand|Raleway|Rubik';
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Tangerine';
/**/

body {
    overflow-x: hidden;
    font-size: 16px;
    height: auto;
    position: relative;
}
html {
    position: relative;
    min-height: 100%;
}

a, a:focus {text-decoration: none;}

/* FOOTER */
footer{box-shadow: 1px -1px 5px #eee;margin-top: 10px;}
footer h3{font-family: 'Raleway', sans-serif; font-size: 2rem;}
footer ul li a{font-family: 'Rubik', sans-serif; font-size: 1.5rem;text-decoration: none;color: #555;transition: all 0.5s;}footer ul li a:hover{color: #111;text-decoration: none;}
footer ul li a i{font-size: 2rem;}
footer ul li:nth-child(1) a:hover i{color: #3b5998;}
footer ul li:nth-child(2) a:hover i{color: #4099FF;}
footer ul li:nth-child(3) a:hover i{color: #3f729b;}
footer div .input-group-addon{padding: 0;background: none;border: 0;}
footer div #subscribe{border-top-left-radius: 0;border-bottom-left-radius: 0;font-weight: 600;font-size: 1.5rem; transition: all 0.5s;}
/* FOOTER */

.modal{z-index: 3000;}
.modal h4{font-family: 'Raleway', sans-serif;font-weight: 900;font-size: 2rem;}
.modal h4:nth-child(1n+3){font-size: 1.9rem;text-align: center;}
.modal-body{height: auto;overflow: hidden;}
.modal-body select {font-size: 1.9rem;font-family: 'Raleway', sans-serif;font-weight: 600;text-shadow: 1px 1px 10px #ccc;}
/*SIGN UP form*/
.social-network{text-align: center;display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: center;}


.social-network a{padding: 5px; text-align: center;border-radius: 5px;color:#fff;font-size: 1.8rem;font-family: 'Raleway', sans-serif;font-weight: 900;}
.social-network a i{vertical-align: middle;font-size: 2.5rem;}
.social-network a:hover{text-decoration: none;}
.social-network a:nth-child(1){background:#ff3333;margin-right: 10px;}
.social-network a:nth-child(2){background:#4e69a2;}
/*End of sign up form*/

.background {
    background: rgba(0,0,0,0.5);
    background-position:top ;
    background-repeat: no-repeat;
    background-size: cover;
}

/*SEARCH BOX*/
#search-box{
    background: rgba(0,0,0,0.8);
    opacity: 0.99;
    height:100vh;
    top: 0;
    padding-top: 5%;
    z-index:5000;
    width:100%;
    position:fixed;
    display:none;
}

#search-box .container{position: relative;}
#search-box .container button,#search-box .container button:focus {float: right;color:#fff;z-index: 3000;font-size: 3rem;background: transparent;border: 0;}

.input-search {
    height:auto;
    font-size: 7rem;
    border: 0;
    background: transparent;
    color: #fff;
}
.input-search:focus {
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    background: transparent;
    color: #fff;
    outline:0;
    -webkit-box-shadow: none !important;
    box-shadow: none;
}
.input-search::-webkit-input-placeholder {color: #777;font-weight:700;}
.input-search:-moz-placeholder {color:#909;opacity:1;}
.input-search::-moz-placeholder {color:#909;opacity:1;}
.input-search:-ms-input-placeholder {color:#909;}

#search-box label {color:#fff;}
#search-box ul {margin-top: 10px;padding: 0;}
#search-box ul li {display: inline-block;}
#search-box ul li:first-child{margin-right:10px;}
#search-box ul li input[type='radio'] {margin-right:10px;}
/*END OF SEARCHBOX*/

/*banner*/
.banner {
    position: relative;
    top: 0;
    padding-bottom: 13%;
    background-size: 100% 100%;
    height: 100vh;
    overflow: hidden;
}
.banner h1{
    z-index: 1000;
    position:absolute;
    top: 40%;
    width: 100%;
    margin-bottom: 0px;    
    /*margin-top: 150px;
    margin-bottom: 0px;*/
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    transition: all 0.5s;
    color: #fff;
}

.banner h1 > a{
    font-family: 'Open Sans Condensed', sans-serif;
}

video{
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-filter: grayscale(25%) blur(0.03rem);
    filter: grayscale(25%) blur(0.03rem);
}

@media (min-aspect-ratio: 16/9) {
  video {
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
      left: -5%;
      width: auto;
      height: 100%;
  }
}

/*QUOTES PAGE BANNER*/
.banner-topic {
    position: relative;
    top: 0;
    padding-bottom: 13%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height:70vh;
    margin-bottom: 15px;
}.banner-topic h1 {
    z-index: 1000;
    position:absolute;
    top: 20%;
    width: 100%;
    margin-bottom: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    transition: all 0.5s;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0,0,0,0.7);
    padding: 15px;
}
.profile{
    width:150px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: black;
    background-size: cover;
    background-position: top;
    box-shadow: -2px 1px 6px #000;
}
.banner-topic h1 p{
    font-size: 1.5rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 400;
}
.banner-topic h1 a{
    color: aquamarine;
}
.banner-topic h1 p .strong{
    font-weight: 900;
}
/*END OF QUOTES PAGE BANNER*/

.banner h1>a, .banner h1>a:focus{font-size: 1.5rem;padding:10px 25px 10px 25px;color: #ff5555;font-weight: 900;border:2px solid #ff8888;background:rgba(0,0,0,0.5);transition: all 0.2s;-webkit-transition: all 0.2s;}
.banner h1>a:hover{text-decoration: none;border:2px solid #ff7777;background:rgba(0,0,0,0.5);box-shadow: -1px 1px 1px #666;transition: all 0.2s;-webkit-transition: all 0.2s;}
.container {
    /*margin-bottom: 1%;*/
}
.container nav .nav li button,.container nav .nav li button:focus,.container nav .nav li button:active {background: transparent;color:#fff;border: 0;padding-top: 15px;}
.nav-container{height: auto; background: rgba(0,0,0,0.8);position: relative;z-index: 2000;}

/*Small Menu*/
.navbar-header h2{font-size: 3.4rem;color: #fff;font-family: 'Tangerine', cursive;margin-right:0;margin-left: 0;padding: 0;}
.navbar-header span{font-size: 2.9rem;color: #fff;}

.banner.background .nav-container{height: auto; background: rgba(0,0,0,0.3);}
.banner .container nav .nav {z-index: 4000;position: relative;}
#banner .container nav .nav li a,#banner .container nav .nav li a:focus,#banner .container nav .nav li a:active {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.7rem;
    color: #fff;
    transition: all 0.1s;
    background:none !important;
    outline: none;
}.nav.navbar-nav li a:hover,.nav.navbar-nav li button:hover {
    background: none !important;
    color: #eee;
    transform: scale(1.1);
    transition: all 0.1s;
}
.container nav .nav li a span {font-size: 1.7rem; vertical-align: top;margin-right: 1px;}

.arrow{position: absolute; text-align: center;bottom: 10px;}
.arrow a{color: #fff; text-shadow: 1px 1px 2px #000;text-decoration: none;}
.arrow a:hover{text-decoration: none;}
.arrow p{font-family: 'Raleway', sans-serif; font-size: 2rem;}
.arrow span{
    font-size: 2rem;
    -webkit-animation: bounce 1.2s infinite cubic-bezier(.25, 0.5, .5, 1.25);
    -moz-animation: bounce 1.2s infinite cubic-bezier(.25, 0.5, .5, 1.25);
    animation: bounce 1.2s infinite cubic-bezier(.25, 0.5, .5, 1.25);
}
@keyframes bounce {
    0% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-0%);
    }
    100% {
        transform: translateY(-20%);
    }
}
/* end of banner */

/*INDEX PAGE*/
.title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
    /* POPULAR TOPICS*/

        .category-content {
            text-align: center;
            height: auto;
            margin-bottom: 5px;
            padding: 3px;
        }
        .category {
            padding-top: 10px;
            height: 150px;
        }

        .category h3 {
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: rgba(0,0,0,0.5);
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        .category-content  h3 a {
            display: block;
            color: #fff;
            font-size: 2.5rem;
            font-family: 'Open Sans Condensed', sans-serif;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }.category-content .category h3 a:hover {
            text-decoration: none;
            color: #eee;
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
            /* Quotes topcics background */
                .topic-animation {
                    background-size: 100% 100%; 
                    transition: all 0.5s;
                    background-position: center;
                    -webkit-transition: all 0.5s;
                }
                .topic-animation:hover{background-size: 110% 110%;transition: all 0.5s;
            -webkit-transition: all 0.5s;}
                /*#motivational{background-image: url('images/motivational.jpg');}
                #inspirational{background-image: url('images/inspirational.jpg');}
                #love{background-image: url('http://lovewallpapers.org/wp-content/uploads/pinky-love.jpeg');}
                #life{background-image: url('http://www.mortalflesh.com/wp-content/uploads/2016/02/feb25_what-is-life-660.jpg');}
                #friendship{background-image: url('http://i.huffpost.com/gen/813511/images/o-FRIENDSHIP-facebook.jpg');}
                #leadership{background-image: url('http://blogs-images.forbes.com/ryanwestwood/files/2015/02/humble-leader.jpg');}*/

    /*End of Topics */

    /* POPULAR AUTHORS */
        #popular-authors h2 {text-align: center;}

    /* END OF POPULAR AUTHORS */

/*END OF INDEX PAGE*/
.quote {
    margin-bottom: 10px;
}
.quote .pad {
    border: 1px solid #ccc;
    padding: 2%;
    padding-bottom: 10%;
    transition: all 0.5s;
}

.quote blockquote {
    margin-top: 5px;
    font-family: 'Glegoo', serif;
    font-size: 1.5rem;
    position: relative;
    transition: all 0.5s;
}.quote .pad blockquote {
    border-left: 2px solid #ccc;
}.quote .pad blockquote a {color: #222;transition: all 0.5s;}.quote .pad blockquote a:hover {color: #555;}
.quote blockquote:before {
    position: absolute;
    left: 0;
    top:0px;
    content:"\201C";
    font-size: 3em;
    color: #000;
}

.quote blockquote span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: block;
    text-align: right;
    font-size: 1.3rem;
    margin-top: 10px;
    text-transform: uppercase;
}
.author-quote blockquote span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: block;
    text-align: right;
    font-size: 1.3rem;
    margin-top: 10px;
    text-transform: uppercase;
}
/* Upvote system */
.quote p {
    text-align: right;
}
.quote a,.quote a:hover {
    cursor: pointer;
    text-decoration: none;
}
.quote p span:not(.heart){
    padding-right: 5px;
    font-family: 'Raleway', sans-serif;
    color:#777;
    font-size: 2rem;
}
.heart {
  display:inline-block;
  -webkit-transform:scale(1.4);
  transform:scale(1.4);
  -webkit-animation: shadow 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
  -moz-animation: shadow 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
  animation: shadow 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
}

.liked, .liked:hover {
    color: #ff5555;
}

@keyframes shadow {
    0% {
      text-shadow: 0px 0px 0px #ff3333;
    }
    50% {
      text-shadow: 0px 0px 10px #ff0000, 0px 0px 5px #000;
    }
    100% {
      text-shadow: 0px 0px 0px #ff3333;
    }
}

/* End of Upvote system*/

/* AUTHORS PAGE */
    div.abc ul{text-align: center; margin-top: 5px;}
    div.abc ul li a{color: #555;}
    div.abc ul li a:hover{color: #444;}
    div.abc + div h1{text-align: center;font-family: 'Open Sans Condensed', sans-serif;font-weight: 900;font-size: 4rem;}

    .author-list{margin-top:20px;}
    .img-media{width:100px;height:100px;position:absolute;border:3px solid #fff;z-index:1000;left:-10px;top:0;}
    .author-list h4{width:100%;padding:25px;top:5px;right:-2px;text-align:center;background:rgba(0,0,0,0.5);border-bottom-right-radius:2em;font-family: 'Josefin Sans', sans-serif;}
    .author-list h4 a{color: #fff;font-size: 2rem;font-weight:900;transition: all 0.5s;}
    .author-list h4 a:hover{color: #eee;text-decoration: none;text-shadow: 1px 1px 3px #000;}
/* END OF AUTHORS PAGE */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    h1{
        font-size: 2rem;
    }
    .author {padding-bottom: 10px; background: rgba(0,0,0,0.0248);}
    .author h3 a {color: #555;}
    .author h3 a:hover {color: #010000;text-decoration: none;}
    .author:not(:nth-child(4)){margin-bottom: 10px;}
    .author-img {width: 50%;}
    .author-quote {margin-top: 8px;}
}

/* Extra Small Devices, Phones */
@media (max-width: 767px) {
    video{display: none;}
    .nav.navbar-nav li a:hover {
        transform: scale(1);
    }
    
    .reorder-xs {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        direction: rtl;
    }
    .reorder-xs > [class*="col-sm"] {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        direction: ltr;
    }.reorder-xs .title {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        direction: ltr;
        position: absolute;
        bottom: 0;
        z-index: 2000;
    }
    .author-img {max-height: 300px;}
    .even {
        float: right;
    }
}

@media only screen and (min-width : 768px) {
    h1 {
        font-size: 2.3rem;
    }
    .author-img {width: 90%;}
    .author-quote {padding-top: 50px;}
    .author-img {max-height: 300px;}
}

@media only screen and (min-width : 992px) {
    h1{
        font-size: 2.5rem;
    }
    .author-quote {padding-top: 90px;}
}

/* QUOTES GENERATOR */

/*FONT-FAMILY*/
#abel{font-family: 'Abel', sans-serif;}
#amatic{font-family: 'Amatic SC', cursive;}
#anton{font-family: 'Anton', sans-serif;}
#dancing{font-family: 'Dancing Script', cursive;}
#dosis{font-family: 'Dosis', sans-serif;}
#josefin{font-family: 'Josefin Sans', sans-serif;}
#lobster{font-family: 'Lobster', cursive;}
#lobster-2{font-family: 'Lobster Two', cursive;}
#modak{font-family: 'Modak', cursive;}
#muli{font-family: 'Muli', sans-serif;}
#condensed{font-family: 'Open Sans Condensed', sans-serif;}
#oswald{font-family: 'Oswald', sans-serif;}
#poiret{font-family: 'Poiret One', cursive;}
#quicksand{font-family: 'Quicksand', sans-serif;}
#raleway{font-family: 'Raleway', sans-serif;}
#rubik{font-family: 'Rubik', sans-serif;}
/*FONT-FAMILY*/

    .panel{margin-bottom:0px;}
    .panel ul li{color:#000 !important;position:relative;padding:10px;cursor:pointer;text-align:center;}
    .panel ul li button{position:absolute;opacity:0;left:0;padding:15px;border:1px solid #000;z-index:4000;}

    .panel ul li:hover{background:rgba(0,0,0,0.1);}
    .panel .glyphicon{font-size:2.5rem;vertical-align:bottom;padding-bottom:1px;}
    .panel i{top:0;left:20px;font-size:3rem;position: absolute;}

    .font-style{box-shadow:-1px 5px 5px rgba(0,0,0,0.5);background:rgba(200,20,0,0.78);}
    .font-style{box-shadow:-1px 5px 5px rgba(0,0,0,0.5);background:rgba(200,20,0,0.78);}
    .font-style ul li{text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,0.5);}

    .font-list{
        max-height: 155px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 5000;
    }

    .dropdown .dropdown-menu li{text-shadow:0px 0px 0px rgba(0,0,0,0.5);}

    #background-section{
        background: #DA22FF;
        background: -webkit-linear-gradient(to left, #DA22FF , #9733EE);
        background: linear-gradient(to left, #DA22FF , #9733EE);
    }

    #font-style,#from-gallery,#background-section{display:none;}

    .dropdown ul li {width:100%;text-align:left;}

    #font-style,#from-gallery,#background-section,#textarea-box,.popover{display:none;}

    .dropdown ul li {width:100%;text-align:left;}

    .displayed{
        -webkit-animation: fadeIn 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        -moz-animation: fadeIn 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        animation: fadeIn 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        opacity: 1;
        display: block;
    }
    .hidden{
        -webkit-animation: fadeOut 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        -moz-animation: fadeOut 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        animation: fadeOut 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        opacity: 0;
        display: none;
    }

    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
    }
    @keyframes fadeOut {
        0% {
          opacity: 1;
        }
    }

    /**/

    .preview-container{background:rgba(0,0,0,0.8);padding-bottom:10px;padding-top:5px;overflow: hidden;text-align: center;}
    #quote-container{
        /*min-height: 450px;
        min-width: 350px;*/
        background-color: #fff; 
        padding:0 !important;
        display: inline-block;
        overflow:hidden;
        height:auto;
        /*min-height: 350px;*/
        background-size: 100% 100%;
        box-shadow:-2px 1px 2px #000;
        /*border: 1px dashed #ccc;*/
        position:relative;
    }
    .water-mark{
        padding-left:5px;
        padding-right:5px;
        height:40px;
        position:absolute;
        background: rgba(0,0,0,0.3);
        right:7px;
        bottom:6px;
        font-size:3rem;
        z-index:4000;
        color:#eee;
        font-family: 'Tangerine', cursive;
    }

    .img-file-container{position:relative;display:inline-block;}

@media only screen and (min-width : 1340px) {
    #quote-container{
        /*width: 100%;*/
        padding:0 !important;
        display: inline-block;
        overflow:hidden;
        height:auto;
        background-size: 100% 100%;
        box-shadow:-2px 1px 2px #000;
        position:relative;
    }
}

    .img-file-container{position:relative;display:inline-block;}
    #img-file,.colorSelector {
        width:100%;
        max-width:90px;
        position:absolute;
        opacity:0;
        border:1px solid #000;
        left: 0;
        top:0;
        bottom: 0;
        padding: 10px;
        z-index: 4000;
        cursor:pointer;
    }
    .colorSelector{
        width: 100%;
        left: 0;
        height: 65px;
    }

    #span{text-align:center;padding:10px 10px 10px 0px;top:0px;z-index: 2000;cursor:default;}

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .panel ul li{display:inline-block;}
        .panel ul{margin:0;}
        .dropdown-menu {
            position: absolute !important;
            background-color: #fff !important;
            box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .panel ul li:not(:last-child){margin-right:30px;}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    }
    @media only screen and (max-height : 768px) {
        .banner-topic h1 {
            position:relative;
            top: 20%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .sidebar{height:100vh;padding-top:10px;}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {}

    /* Slider */
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: none;
        touch-action: none;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    /* Arrows */
    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 50%;
        margin-top: -10px;
        padding: 0;
        border: none;
        outline: none;
    }
    .slick-prev:focus,
    .slick-next:focus {
        outline: none;
    }
    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
        opacity: 0.25;
    }

    .slick-prev:before, .slick-next:before {
        font-family: "slick";
        font-size: 20px;
        line-height: 1;
        color: #000;
        opacity: 0.85;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev {
        left: -25px;
    }
    .slick-prev:before {
        content: '\2190';
    }

    .slick-next {
        right: -25px;
    }
    .slick-next:before {
        content: '\2192';
    }
    /*End of arrow*/
    .responsive{display: flex;display: -webkit-flex;}
    .img-gallery{outline: none;}
        .img-gallery img{
            width:100%;height:150px;
            background: #fff;
            color: #3498db;
            font-size: 36px;
            line-height: 100px;
            margin: 10px;
            padding: 2%;
            position: relative;
            text-align: center;
        }

/*TEXT AREA*/
.textarea-box{position:absolute;width:100%;height:100vh;background:rgba(0,0,0,0.7);z-index:7000;text-align:center;}

.relative-container{position:relative;background:rgba(10,50,255,0.8);top:100px;height:50px;box-shadow:0px 5px 5px rgba(0,0,0,0.5);}
.relative-container span{position:absolute;color:#000; right:15px;top:10px;font-size:2rem;}
.relative-container span:hover{text-shadow:1px 1px 1px #fff;transform:scale(1.1);cursor:pointer;}

.textarea-box textarea{
    margin-top:50px;
    border-radius:5px;
    resize:none;
    height:180px;
    width:100%;
    padding:60px 50px 50px 50px;
    font-size:1.7rem;
    letter-spacing:1px;
}

.text {
    left: 0;
    display:inline-block;
    cursor:pointer;
    z-index:2000;
    position:absolute;
    font-size:3rem;
}
.ui-draggable {    
    display:inline-block;
    width: 80% !important;
}
/*END OF QUOTE GENERATOR*/