body {
    overflow-x: hidden;
    font-size: 16px;
    height: auto;
    position: relative;
}
html {
    position: relative;
    min-height: 100%;
}

a, a:focus,a:hover {text-decoration: none;}
.category-content,.card{transition:all 0.5s;}
.modal{z-index: 6000 !important;}
.not-found{text-align: center;padding-top:50px;padding-bottom:50px;}
.not-found span{font-size: 3.1rem;font-family: 'Cormorant Garamond', serif;}
.not-found div span{font-size: 7rem;}
/* FOOTER */
footer{box-shadow: 1px -1px 5px #eee;margin-top: 10px;}
footer h3{font-family: 'Raleway', sans-serif; font-size: 2rem;}
footer ul li a{font-family: 'Rubik', sans-serif; font-size: 1.5rem;text-decoration: none;color: #555;transition: all 0.5s;}footer ul li a:hover{color: #111;text-decoration: none;}
footer ul li a i{font-size: 2rem;}
footer ul li:nth-child(1) a:hover i{color: #3b5998;}
footer ul li:nth-child(2) a:hover i{color: #4099FF;}
footer ul li:nth-child(3) a:hover i{color: #3f729b;}
footer div .input-group-addon{padding: 0;background: none;border: 0;}
footer div #subscribe{border-top-left-radius: 0;border-bottom-left-radius: 0;font-weight: 600;font-size: 1.5rem; transition: all 0.5s;}
/* FOOTER */


.modal h4{font-family: 'Raleway', sans-serif;font-weight: 900;font-size: 2rem;}
.modal h4:nth-child(1n+3){font-size: 1.9rem;text-align: center;}
.modal-body{height: auto;overflow: hidden;}
.modal-body select {font-size: 1.9rem;font-family: 'Raleway', sans-serif;font-weight: 600;text-shadow: 1px 1px 10px #ccc;}
/*SIGN UP form*/
.social-network{text-align: center;display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: center;}


.social-network a{padding: 5px; text-align: center;border-radius: 5px;color:#fff;font-size: 1.8rem;font-family: 'Raleway', sans-serif;font-weight: 900;}
.social-network a i{vertical-align: middle;font-size: 2.5rem;}
.social-network a:hover{text-decoration: none;}
.social-network a:nth-child(1){background:#ff3333;margin-right: 10px;}
.social-network a:nth-child(2){background:#4e69a2;}

    /*ERROR ANIMATION*/
    .error-box{
        -webkit-animation: shining 0.5s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        -moz-animation: shining 0.5s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        animation: shining 0.5s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        transition: all 0.5s;
        box-shadow: 1px -1px 3px #ff5555,-1px 1px 3px #ff5555;
    }
    @keyframes shining {
        0% {
            box-shadow: 1px -1px 3px #ff5555,-1px 1px 3px #ff5555;
        }
        50% {
            box-shadow: 1px -1px 4px #ff2222,-1px 1px 6px #ff2222;
        }
        100% {
            box-shadow: 1px -1px 3px #ff5555,-1px 1px 3px #ff5555;
        }
}
    
    /*ERROR ANIMATION*/
.agreed-terms{
    color: #444;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}
/*End of sign up form*/

.background {
    background: rgba(0,0,0,0.5);
    background-position:top ;
    background-repeat: no-repeat;
    background-size: cover;
}

/*SEARCH BOX*/
#search-box{
    background: rgba(0,0,0,0.8);
    opacity: 0.99;
    height:100vh;
    top: 0;
    padding-top: 5%;
    z-index:5000;
    width:100%;
    position:fixed;
    display:none;
}

#search-box .container{position: relative;}
#search-box .container button,#search-box .container button:focus {float: right;color:#fff;z-index: 3000;font-size: 3rem;background: transparent;border: 0;}

.search-btn {margin-top:10px;}.search-btn input,.search-btn input:active,.search-btn input:focus{background:rgba(255,255,255,0.5);color:#fff;border:none;outline: none;}

.input-search {
    height:auto;
    font-size: 7rem;
    border: 0;
    background: transparent;
    color: #fff;
}
.input-search:focus {
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    background: transparent;
    color: #fff;
    outline:0;
    -webkit-box-shadow: none !important;
    box-shadow: none;
}
.input-search::-webkit-input-placeholder {color: #777;font-weight:700;}
.input-search:-moz-placeholder {color:#909;opacity:1;}
.input-search::-moz-placeholder {color:#909;opacity:1;}
.input-search:-ms-input-placeholder {color:#909;}

#search-box label {color:#fff;}
#search-box ul {margin-top: 10px;padding: 0;}
#search-box ul li {display: inline-block;}
#search-box ul li:first-child{margin-right:10px;}
#search-box ul li input[type='radio'] {margin-right:10px;}
/*END OF SEARCHBOX*/

/*banner*/
.banner {
    position: relative;
    top: 0;
    padding-bottom: 13%;
    background-size: 100% 100%;
    height: 100vh;
    overflow:hidden;
    background-color: #000;
}
.banner h1{
    z-index: 1000;
    position:absolute;
    top: 40%;
    width: 100%;
    margin-bottom: 0px;    
    /*margin-top: 150px;
    margin-bottom: 0px;*/
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    transition: all 0.5s;
    color: #fff;
    text-shadow: -2px 1px 1px #000;
}

.banner h1 > a{
    font-family: 'Open Sans Condensed', sans-serif;
}

video{
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-filter: grayscale(25%) blur(0.03rem);
    filter: grayscale(25%) blur(0.03rem);
}

@media (min-aspect-ratio: 16/9) {
  video {
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
      left: -5%;
      width: auto;
      height: 100%;
  }
}

/*QUOTES PAGE BANNER*/
.banner-topic {
    position: relative;
    top: 0;
    padding-bottom: 13%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height:70vh;
    margin-bottom: 15px;
}.banner-topic h1 {
    z-index: 1000;
    position:absolute;
    top: 20%;
    width: 100%;
    margin-bottom: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    transition: all 0.5s;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0,0,0,0.7);
    padding: 15px;
}
.profile{
    width:150px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: black;
    background-size: cover;
    background-position: top;
    box-shadow: -2px 1px 6px #000;
}
.banner-topic h1 p{
    font-size: 1.5rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 400;
}
/*TOPIC PAGE*/
    .banner-topic h1.topic-info{
        padding: 50px;
    }
    .banner-topic h1 p.random-quote{
        font-size: 2.5rem;
        padding: 15px 0 5px;
        font-family: 'Poiret One', cursive;
        font-weight: 500;
    }
    .banner-topic h1 p.random-quote .quote:before{
        position: relative;
        left: -15px;
        top:25px;
        content:"\201C";
        font-size: 3em;
        color: #eee;
        font-weight: 900;
    }
    .banner-topic h1 p.random-author{
        font-size: 1.8rem;
    }
/*TOPIC PAGE*/
.banner-topic h1 a{
    color: aquamarine;
}
.banner-topic h1 p .strong{
    font-weight: 900;
}
/*END OF QUOTES PAGE BANNER*/

.banner h1>a, .banner h1>a:focus{font-size: 1.5rem;padding:10px 25px 10px 25px;color: #ff5555;font-weight: 900;border:2px solid #ff8888;background:rgba(0,0,0,0.5);transition: all 0.2s;-webkit-transition: all 0.2s;}
.banner h1>a:hover{text-decoration: none;border:2px solid #ff7777;background:rgba(0,0,0,0.5);box-shadow: -1px 1px 1px #666;transition: all 0.2s;-webkit-transition: all 0.2s;}
.container {
    /*margin-bottom: 1%;*/
}
.container nav .nav li button,.container nav .nav li button:focus,.container nav .nav li button:active, {background: transparent;color:#fff;border: 0;padding-top: 18px;}
.nav-container{height: auto; background: rgba(0,0,0,0.8);position: relative;z-index: 5000;}

/*Small Menu*/
.navbar-header h2{margin: 0;padding-bottom: 0;}
.navbar-header h2 a{font-size: 4rem;color: #fff;font-family: 'Tangerine', cursive;margin-right:0;margin-left: 0;padding: 0;}
.navbar-header span{font-size: 2.9rem;color: #fff;}
.navbar-collapse.in{overflow-y:inherit !important;}
.navbar-toggle{margin-bottom: 0;}

.banner.background .nav-container{height: auto; background: rgba(0,0,0,0.3);}
.banner .container nav .nav {z-index: 4000;position: relative;}
#banner .container nav .nav li a,#banner .container nav .nav li a:focus,#banner .container nav .nav li a:active {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.7rem;
    color: #fff;
    transition: all 0.1s;
    background:none !important;
    outline: none;
}.nav.navbar-nav li a:hover,.nav.navbar-nav li button:hover,.nav.navbar-nav li .dropdown a:hover {
    background: none !important;
    color: #eee;
    transform: scale(1.1);
    transition: all 0.1s;
}
/*Language Menu*/
.nav.navbar-nav li .dropdown.drop-lang{padding: 12px;}
.dropdown.drop-lang ul li a {color: #000 !important;}
.nav.navbar-nav li .dropdown .dropdown-menu li{ 
    color: #000;padding: 5px;cursor: pointer;font-family: 'Raleway', sans-serif;font-weight: 500;font-size: 1.6rem;vertical-align: middle;
}.nav.navbar-nav li .dropdown .dropdown-menu li:hover{
    background: #ddd;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}.nav.navbar-nav li .dropdown a span{vertical-align: middle;}.nav.navbar-nav li .dropdown .dropdown-menu li img{
    width: 20px;
    height: 20px;
    vertical-align: middle;margin-right: 3px;
}
/*Language Menu*/

.container nav .nav li a span {font-size: 1.7rem; vertical-align: top;margin-right: 1px;}

.vid-cover{width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;}

.arrow{position: absolute; text-align: center;bottom: 10px;z-index: 1000;}
.arrow a{color: #fff; text-shadow: 1px 1px 2px #000;text-decoration: none;}
.arrow a:hover{text-decoration: none;}
.arrow p{font-family: 'Raleway', sans-serif; font-size: 2rem;}
.arrow span{
    font-size: 2rem;
    -webkit-animation: bounce 1.2s infinite cubic-bezier(.25, 0.5, .5, 1.25);
    -moz-animation: bounce 1.2s infinite cubic-bezier(.25, 0.5, .5, 1.25);
    animation: bounce 1.2s infinite cubic-bezier(.25, 0.5, .5, 1.25);
}
@keyframes bounce {
    0% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-0%);
    }
    100% {
        transform: translateY(-20%);
    }
}
/* end of banner */

/*INDEX PAGE*/
.title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
    /* POPULAR TOPICS*/

        .category-content {
            text-align: center;
            height: auto;
            margin-bottom: 5px;
            padding: 3px;
        }
        .category {
            padding-top: 10px;
            height: 150px;
        }

        .category h3 {
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: rgba(0,0,0,0.5);
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        .category-content  h3 a {
            display: block;
            color: #fff;
            font-size: 2.5rem;
            font-family: 'Open Sans Condensed', sans-serif;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }.category-content .category h3 a:hover {
            text-decoration: none;
            color: #eee;
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
            /* Quotes topcics background */
                .topic-animation {
                    background-size: cover; 
                    transition: all 0.5s;
                    background-position: center
                }
                /*#motivational{background-image: url('images/motivational.jpg');}
                #inspirational{background-image: url('images/inspirational.jpg');}
                #love{background-image: url('http://lovewallpapers.org/wp-content/uploads/pinky-love.jpeg');}
                #life{background-image: url('http://www.mortalflesh.com/wp-content/uploads/2016/02/feb25_what-is-life-660.jpg');}
                #friendship{background-image: url('http://i.huffpost.com/gen/813511/images/o-FRIENDSHIP-facebook.jpg');}
                #leadership{background-image: url('http://blogs-images.forbes.com/ryanwestwood/files/2015/02/humble-leader.jpg');}*/

    /*End of Topics */

    /* POPULAR AUTHORS */
        #popular-authors h2 {text-align: center;}

    /* END OF POPULAR AUTHORS */

/*END OF INDEX PAGE*/

.quote {
    margin-bottom: 10px;
}
.quote .pad {
    border: 1px solid #ccc;
    padding: 2%;
    padding-bottom: 2%;
    transition: all 0.5s;
}
.related-t a{font-size: 1.5rem;font-family: 'Raleway', sans-serif;color: #555;}
.related-t a:hover{color: #222;}
.quote blockquote {
    margin-top: 5px;
    font-family: 'Glegoo', serif;
    font-size: 1.5rem;
    position: relative;
    transition: all 0.5s;
}.quote .pad blockquote {
    border-left: 2px solid #ccc;
}.quote .pad blockquote a {color: #222;transition: all 0.5s;}.quote .pad blockquote a:hover {color: #555;}
.quote blockquote:before {
    position: absolute;
    left: 0;
    top:0px;
    content:"\201C";
    font-size: 3em;
    color: #000;
}

.quote blockquote span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: block;
    text-align: right;
    font-size: 1.3rem;
    margin-top: 24px;
    text-transform: uppercase;
}
.author-quote blockquote span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: block;
    text-align: right;
    font-size: 1.3rem;
    margin-top: 10px;
    text-transform: uppercase;
}
/* Upvote system */
.quote p {
    text-align: right;
}
.quote a,.quote a:hover {
    cursor: pointer;
    text-decoration: none;
}
.quote p span:not(.glyphicon-heart){
    padding-right: 5px;
    font-family: 'Raleway', sans-serif;
    color:#777;
    font-size: 1.8rem;
}
.glyphicon-heart {
    font-size: 1.3rem;
    display:inline-block;
    -webkit-transform:scale(1.4);
    transform:scale(1.4);
    -webkit-animation: shadow 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
    -moz-animation: shadow 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
    animation: shadow 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
}

.liked, .liked:hover {
    color: #ff5555;
}

@keyframes shadow {
    0% {
      text-shadow: 0px 0px 0px #ff3333;
    }
    50% {
      text-shadow: 0px 0px 10px #ff0000, 0px 0px 5px #000;
    }
    100% {
      text-shadow: 0px 0px 0px #ff3333;
    }
}

.disable + .popover{
    width: 200%;
}

/* End of Upvote system*/

/* AUTHORS PAGE */
    div.abc ul{text-align: center; margin-top: 5px;}
    div.abc ul li a{color: #555;}
    div.abc ul li a:hover{color: #444;}
    div.abc + div h1{text-align: center;font-family: 'Open Sans Condensed', sans-serif;font-weight: 900;font-size: 4rem;}

    .author-list{margin-top:20px;}
    .img-media{width:100px;height:100px;position:absolute;border:3px solid #fff;z-index:1000;left:-10px;top:0;    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;}
    .author-list h4{width:100%;padding:25px;top:5px;right:-2px;text-align:center;background:rgba(0,0,0,0.5);border-bottom-right-radius:2em;border-top-right-radius:2em;font-family: 'Josefin Sans', sans-serif;}
    .author-list h4 a{color: #fff;font-size: 2rem;font-weight:900;transition: all 0.5s;}
    .author-list h4 a:hover{color: #eee;text-decoration: none;text-shadow: 1px 1px 3px #000;}
/* END OF AUTHORS PAGE */

/*TOPICS PAGE*/
    .title h2{font-size: 4rem; text-align: center;}
    .title-topic + div span{font-size: 2.8rem; text-align: center;font-family: 'Poiret One', cursive;display: block;color: #555;margin-bottom: 40px;}
    .title-topic + div span strong{font-family: 'Bilbo Swash Caps', cursive;font-weight: 500;}
.explore-more{
    padding: 40px;
    font-size: 1.6rem;
}
  /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .list-topics{transition:all 0.2s;margin-bottom: 10px;}
        .list-topics h2{font-size:5rem;border-bottom:1px solid #999;padding:5px 0px 5px 10px;color:#444;font-family: 'Bungee Inline', cursive;}
        .list-topics .list-unstyled a{color:#555;transtion:all 0.3s;}
        .list-topics a:hover{text-decoration:none;color:#111;}
        .list-topics > a:hover{color:#4c4cff;}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .list-topics h2{font-size:5rem;border-bottom:1px solid #999;padding:5px 0px 5px 10px;background:#eee;}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .list-topics{position:relative;margin-top:20px;}
        .list-topics h2{float:left;padding:4px;font-size:5rem;border-bottom:0;background:#fff;}
        .list-topics .list-unstyled{margin-left:50px;border-left:5px solid #ccc;padding-left:10px;}
        .list-topics > a {margin-left:25px;}
    }
    /*TOPICS PAGE BY LETTER*/
        .breadcrumb{background: #fff;}
        .card-container{margin-top:10px;padding:2px;transition:all 0.5s;}
        .card-header{height:200px;background-size:100% 100%;padding:0;background-color: #000;}
        .card-header h3{width:100%;text-align:center;margin-top:80px;background:rgba(0,0,0,0.5);padding:9px;}
        .card-header h3 a{color:#fff;font-family: 'Poiret One', cursive;
        font-size:3.5rem;text-shadow:-1px 0px 3px #000;transition:all 0.5s;}.card-header h3 a:hover{color:#ddd;text-decoration:none;}
        .card-content{border:1px solid #ccc;padding:20px;}
        .card-content a{float:right;transition:all 0.5s;}
    /*END OF TOPICS PAGE BY LETTER*/
/*END OF TOPICS PAGE*/

/*KEYWORD PAGE*/
    .keywords{padding: 10px;text-align: center;display: none;}
    .keyword,.keyword:focus{
        font-family: 'Cormorant Garamond', serif;
        font-size:2.6rem;
        color:#111;
        transition:all 0.5s ease-out;
        text-decoration:none;
        font-weight:600;
        text-shadow:-1px 1px 2px #ccc;
    }.keyword:hover{
        text-shadow:-2px 1px 3px #bbb;
        color:#000;
        text-decoration:none;
        transition:all 0.5s ease-in;
        letter-spacing: 2px;
    }
/*KEYWORD PAGE*/



/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    h1{
        font-size: 2rem;
    }
    .author {padding-bottom: 10px; background: rgba(0,0,0,0.0248);}
    .author h3 a {color: #555;}
    .author h3 a:hover {color: #010000;text-decoration: none;}
    .author:not(:nth-child(4)){margin-bottom: 10px;}
    .author-img {width: 50%;}
    .author-quote {margin-top: 8px;}
}

/*USERS' SECTION*/
    ._outer-box{margin-bottom:20px;}
    .mn-box{font-family: 'Comfortaa', cursive;padding:50px;text-align:center;color:#fff;font-size:1.74rem;text-shadow:-1px 0px 2px #000;cursor:pointer;transition:all 0.5s;}
    .mn-box:hover{text-shadow:-3px 0px 3px #000;transition:all 0.5s;}
    .mn-box span{display:block;font-size:3rem;margin-bottom:3px;}

    ._box1{
        background: #cb2d3e;
        background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a);
        background: linear-gradient(to left, #cb2d3e , #ef473a);
    }
    ._box2{
        background: #834d9b;
        background: -webkit-linear-gradient(to left, #834d9b , #d04ed6);
        background: linear-gradient(to left, #834d9b , #d04ed6);
    }
    ._box3{
        background: #7474BF;
        background: -webkit-linear-gradient(to left, #7474BF , #348AC7);
        background: linear-gradient(to left, #7474BF , #348AC7);
    }
    ._user-posted{font-size: 1.3rem;}

    /*IMAGES SECTION*/
    .collection-cont div {
        display: inline-block;
        width: 100%;
    }
    /* Custom, iPhone Retina */ 
        @media only screen and (min-width : 320px) {
            .collection-cont {
                -moz-column-count: 1;
                -moz-column-gap: 2px;
                -webkit-column-count: 1;
                -webkit-column-gap: 2px;
                column-count: 1;
                column-gap: 2px;
            }
        }
        @media only screen and (min-width : 600px) {
            .collection-cont {
                -moz-column-count: 2;
                -moz-column-gap: 2px;
                -webkit-column-count: 2;
                -webkit-column-gap: 2px;
                column-count: 2;
                column-gap: 2px;
            }
        }

        @media only screen and (min-width : 768px) {
            ._outer-box{box-shadow: 0 2px 5px #000,0 2px 8px #777,0 4px 10px #ccc;}
        }

    /* Extra Small Devices, Phones */ 
        @media only screen and (min-width : 992px) {
            .collection-cont {
                -moz-column-count: 3;
                -moz-column-gap: 2px;
                -webkit-column-count: 3;
                -webkit-column-gap: 2px;
                column-count: 3;
                column-gap: 2px;
            }
        }

        
    /*END IMAGES SECTION*/

    /*USERS SECTION*/
        .card-profile {
            background: #fff;
            border-radius: 10px;
            z-index: 1;
            margin-bottom: 10px;
        }
        .card-profile_visual{
            height: 300px;
            overflow: hidden;
            position: relative;
            background: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #777;
            background-repeat: no-repeat;
            background-position:  center center;
            background-size:cover;
            text-align: center;
            border-right: 1px solid #ccc;
        }
        .user-profile_pic{display:inline-block; width: 120px;height: 120px;border-radius: 50%;margin-top:20px;background-repeat: no-repeat;background-position:center center;background-size: cover;box-shadow: 0 36px 64px -34px #222, 0 16px 14px -14px rgba(0, 0, 0, 0.6), 0 22px 18px -18px rgba(0, 0, 0, 0.4), 0 22px 38px -18px #222;z-index: 1000;position: absolute;margin: auto;left: 0;right: 0;top:50px}
            
        .card-profile_user-infos{position: absolute;bottom: 0;padding-bottom: 10px;padding-top: 180px; text-align: center;width: 100%;background: rgba(0,0,0,0.5);height: 100%;}
        .card-profile_user-infos span{display: block;color: #fff;}
        .card-profile_user-infos .infos_nick{color: #ccc;}

        .card-profile .usrflw-16516 {
            cursor: pointer;
            text-align: center;
            padding: 20px 20px 20px 20px;
            top: 265px !important;
            z-index: 1000;
            width: 60px;
            height: 60px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            background-color: #F96B4C;
            display: block;
            clear: both;
            margin: auto;
            border-radius: 100%;
            top: calc(500% + 66px);
            box-shadow: 0 2px 0 #D42D78, 0 3px 10px rgba(243, 49, 128, 0.15), 0 0px 10px rgba(243, 49, 128, 0.15), 0 0px 4px rgba(0, 0, 0, 0.35), 0 5px 20px rgba(243, 49, 128, 0.25), 0 15px 40px rgba(243, 49, 128, 0.75), inset 0 0 15px rgba(255, 255, 255, 0.05);
            overflow: hidden;
        }.card-profile a i{color: #fff;font-size: 2rem;text-shadow: 1px 1px 5px #000;}
        .light-red{background: #f85032;
            background: -webkit-linear-gradient(to left, #f85032 , #e73827);
            background: linear-gradient(to left, #f85032 , #e73827);}.darkred{background-image: -webkit-linear-gradient(#F96B4C, #F23182);
                background-image: linear-gradient(#F96B4C, #F23182);}
        .card-profile_user-stats{position: relative;height: 100px; border-right: 1px solid #ddd;box-shadow: 0 36px 64px -34px #ccc, 0 16px 14px -14px rgba(0, 0, 0, 0.6), 0 22px 18px -18px rgba(0, 0, 0, 0.4), 0 22px 38px -18px #ccc;}
        .stats-holder{text-align: center;padding: 10px;width: 100%;position: absolute;bottom: 0;}
        .user-stats{width:33%;}
        .user-stats a span{display: block;color: #555;}
            
            /* Extra Small Devices, Phones */ 
            @media only screen and (max-width : 640px) {
                .col-cs-12{width: 100%;}
            }
    /*END USERS SECTION*/
/*END OF USERS' SECTION*/


/* Extra Small Devices, Phones */
@media (max-width: 767px) {
    footer ul li{height:40px}
    
    video{display: none;}
    .nav.navbar-nav li a:hover {
        transform: scale(1);
    }
    .profile-small{
        position:relative;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    
    .reorder-xs {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        direction: rtl;
    }
    .reorder-xs > [class*="col-sm"] {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        direction: ltr;
    }.reorder-xs .title {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        direction: ltr;
        position: absolute;
        bottom: 0;
        z-index: 2000;
    }
    .author-img {max-height: 300px;}
    .even {
        float: right;
    }
}

@media only screen and (min-width : 768px) {
    h1 {
        font-size: 2.3rem;
    }
    .author-img {width: 90%;}
    .author-quote {padding-top: 50px;}
    .author-img {max-height: 300px;}
    /*USER STYLE*/
    .profile-small{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        left: -25px;
        top: 10px;
    }
    /*END OF USER STYLE*/
}

@media only screen and (min-width : 992px) {
    h1{
        font-size: 2.5rem;
    }
    .author-quote {padding-top: 90px;}
}

/* QUOTES GENERATOR */

/*FONT-FAMILY*/
#abel{font-family: 'Abel', sans-serif;}
#amatic{font-family: 'Amatic SC', cursive;}
#anton{font-family: 'Anton', sans-serif;}
#dancing{font-family: 'Dancing Script', cursive;}
#dosis{font-family: 'Dosis', sans-serif;}
#josefin{font-family: 'Josefin Sans', sans-serif;}
#lobster{font-family: 'Lobster', cursive;}
#lobster-2{font-family: 'Lobster Two', cursive;}
#modak{font-family: 'Modak', cursive;}
#muli{font-family: 'Muli', sans-serif;}
#condensed{font-family: 'Open Sans Condensed', sans-serif;}
#oswald{font-family: 'Oswald', sans-serif;}
#poiret{font-family: 'Poiret One', cursive;}
#quicksand{font-family: 'Quicksand', sans-serif;}
#raleway{font-family: 'Raleway', sans-serif;}
#rogue{font-family: 'Rouge Script', cursive;}
#rubik{font-family: 'Rubik', sans-serif;}
/*FONT-FAMILY*/

    .panel{margin-bottom:0px;}
    .panel ul li{color:#000 !important;position:relative;padding:10px;cursor:pointer;text-align:center;}
    .panel ul li button{position:absolute;opacity:0;left:0;padding:15px;border:1px solid #000;z-index:4000;}

    .panel ul li:hover{background:rgba(0,0,0,0.1);}
    .panel .glyphicon{font-size:2.5rem;vertical-align:bottom;padding-bottom:1px;}
    .panel i{top:0;left:20px;font-size:3rem;position: absolute;}

    .font-style{box-shadow:-1px 5px 5px rgba(0,0,0,0.5);background:rgba(200,20,0,0.78);}
    .font-style{box-shadow:-1px 5px 5px rgba(0,0,0,0.5);background:rgba(200,20,0,0.78);}
    .font-style ul li{text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,0.5);}

    .font-list{
        max-height: 155px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 5000;
    }

    .dropdown .dropdown-menu li{text-shadow:0px 0px 0px rgba(0,0,0,0.5);}

    #background-section{
        background: #DA22FF;
        background: -webkit-linear-gradient(to left, #DA22FF , #9733EE);
        background: linear-gradient(to left, #DA22FF , #9733EE);
    }

    #font-style,#from-gallery,#background-section{display:none;}

    .dropdown ul li {width:100%;text-align:left;}

    #font-style,#from-gallery,#background-section,#textarea-box,.popover{display:none;}

    .dropdown ul li {width:100%;text-align:left;}

    .displayed{
        -webkit-animation: fadeIn 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        -moz-animation: fadeIn 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        animation: fadeIn 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        opacity: 1;
        display: block;
    }
    .hidden{
        -webkit-animation: fadeOut 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        -moz-animation: fadeOut 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        animation: fadeOut 1.2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
        opacity: 0;
        display: none;
    }

    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
    }
    @keyframes fadeOut {
        0% {
          opacity: 1;
        }
    }

    /**/

    .preview-container{background:rgba(0,0,0,0.8);padding-bottom:10px;padding-top:5px;overflow: hidden;text-align: center;}
    .preview-container #generated{position: absolute;}
    #quote-container{
        /*min-height: 450px;
        min-width: 350px;*/
        background-color: #fff; 
        padding:0 !important;
        display: inline-block;
        overflow:hidden;
        height:auto;
        /*min-height: 350px;*/
        background-size: 100% 100%;
        box-shadow:-2px 1px 2px #000;
        /*border: 1px dashed #ccc;*/
        position:relative;
    }
/*#quote-container img{max-width: 1024px;}*/

.copy-form{
    padding:10px 0 0 0;
    position: relative;
    display: none;
    text-align: center;
    -webkit-animation: fadeIn 2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
    -moz-animation: fadeIn 2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
    animation: fadeIn 2s 1 cubic-bezier(.25, 0.5, .5, 1.25);
}
.copy-container{margin-left: auto;margin-right: auto;float: none;}
.copy-container input{width: 100%;}
.copy-form span {padding: 0;border: 0;background: none;}
.copy-form span button,.copy-form span button:focus{margin: 0;width: 100%;border-top-left-radius: 0;border-bottom-left-radius: 0;background: #000 !important;font-size: 1.74rem; border: 0;transition: all 0.5s;outline: 0 !important;}
.copy-form span button:hover{background: #222;outline: 0;}
.clicked-btn{
    -webkit-animation: Effect 1s 1 ease-out;
    -moz-animation: Effect 1s 1 ease-out;
    animation: Effect 1s 1 ease-out;
}

.download a{display: none;padding: 10px;border: 0;border-radius: 5px;background: #222;color: #fff;transition: all 0.5s;font-family: 'Rubik', sans-serif;}.download a:hover{text-decoratio none;background: #000;}

.processing{position: absolute; width: 100%;height: 100%;background: rgba(0,0,0,0.9);display: none;z-index: 5000;}
.processing img{width: 150px;height: 150px;margin-top: 10%;}

@keyframes Effect {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.2;
    }
}

    .water-mark{
        width: 100%;
        position:absolute;
        background: rgba(0,0,0,0.3);
        bottom:0px;
        font-size:4.5rem;
        z-index:4000;
        color:#eee;
        font-family: 'Rouge Script', cursive;
    }

    .img-file-container{position:relative;display:inline-block;}

@media only screen and (min-width : 1340px) {
    #quote-container{
        /*width: 100%;*/
        padding:0 !important;
        display: inline-block;
        overflow:hidden;
        height:auto;
        background-size: 100% 100%;
        box-shadow:-2px 1px 2px #000;
        position:relative;
    }
}

    .img-file-container{position:relative;display:inline-block;overflow: hidden;}
    #img-file,.colorSelector {
        width:100%;
        height: 100%;
        max-width:90px;
        position:absolute;
        opacity:0;
        border:0px solid #000;
        top:0;
        left: 0;
        bottom: 0;
        padding: 10px;
        z-index: 4000;
        cursor:pointer;
    }
    #img-file {
        left: -10px;
    }
    .colorSelector{
        width: 100%;
        left: 0;
        height: 65px;
    }

    #span{text-align:center;padding:10px 10px 10px 0px;top:0px;z-index: 2000;cursor:default;}

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .panel ul li{display:inline-block;}
        .panel ul{margin:0;}
        .dropdown-menu {
            position: absolute !important;
            background-color: #fff !important;
            box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .panel ul li:not(:last-child){margin-right:30px;}
    }
    @media only screen and (max-width : 480px) {
        .image-container{padding-top: 40px;}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    }
    @media only screen and (max-width : 1366px) {
        video{display:none;}
    }
    @media only screen and (max-width : 768px) and (orientation : landscape) {
        .banner {
            height: 110vh;
        }
        .banner h1 {
            top: 25%;
        }
    }
    @media only screen and (max-height : 768px) {
        .banner-topic h1 {
            position:relative;
            top: 20%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .sidebar{height:100vh;padding-top:10px;}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {}

    /* Slider */
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: none;
        touch-action: none;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    /* Arrows */
    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 50%;
        margin-top: -10px;
        padding: 0;
        border: none;
        outline: none;
    }
    .slick-prev:focus,
    .slick-next:focus {
        outline: none;
    }
    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
        opacity: 0.25;
    }

    .slick-prev:before, .slick-next:before {
        font-family: "slick";
        font-size: 20px;
        line-height: 1;
        color: #000;
        opacity: 0.85;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev {
        left: -25px;
    }
    .slick-prev:before {
        content: '\2190';
    }

    .slick-next {
        right: -25px;
    }
    .slick-next:before {
        content: '\2192';
    }
    /*End of arrow*/
    .responsive{display: flex;display: -webkit-flex;}
    .img-gallery{outline: none;}
        .img-gallery img{
            width:100%;height:150px;
            background: #fff;
            color: #3498db;
            font-size: 36px;
            line-height: 100px;
            margin: 10px;
            padding: 2%;
            position: relative;
            text-align: center;
        }

/*TEXT AREA*/
.textarea-box{position:absolute;width:100%;height:100vh;background:rgba(0,0,0,0.7);z-index:7000;text-align:center;}

.relative-container{position:relative;background:rgba(10,50,255,0.8);top:100px;height:50px;box-shadow:0px 5px 5px rgba(0,0,0,0.5);}
.relative-container span{position:absolute;color:#000; right:15px;top:10px;font-size:2rem;}
.relative-container span:hover{text-shadow:1px 1px 1px #fff;transform:scale(1.1);cursor:pointer;}

.textarea-box textarea{
    margin-top:50px;
    border-radius:5px;
    resize:none;
    height:180px;
    width:100%;
    padding:60px 50px 50px 50px;
    font-size:1.7rem;
    letter-spacing:1px;
}

.text {
    left: 0;
    display:inline-block;
    cursor:pointer;
    z-index:2000;
    position:absolute;
    font-size:3rem;
}
.ui-draggable {    
    display:inline-block;
    width: 80% !important;
}
/*END OF QUOTE GENERATOR*/