RewriteEngine On
RewriteCond %{HTTP_HOST} ^localhost/quotes/c9a28e7f0dbc3ed20a161351c4f29a7b/21232f297a57a5a743894a0e4a801fc3$
DirectoryIndex index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ index.php [NC]
RewriteRule ^signin$ login.php [NC]